[mysqld]
# 8.0以降はデフォルトの認証方式が`caching_sha2_password`に変更されている。
# 変更するかどうかはセキュリティ等を考慮して検討してください。
# この例は、旧来の方式へ戻します。
default-authentication-plugin = mysql_native_password

character-set-server=utf8mb4

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
